<aside class=" my-3">
  <div class="card">
      <div class="card-header bg-white rounded-0 text-dark fw-bold p-3">
          Categories
      </div>
      <div class="card-body bg-dark rounded-0 list-group p-3">
          <a href="">Products</a>
          <a href="">Order</a>
          <a href="">Cart</a>
          <a href="#">Products</a>
          <a href="">Categories</a>
          <a href="">ContactUS</a>
          <a href="">AboutUs</a>
          <a href="">Home</a>
      </div>
  </div>
</aside>
