<aside class=" my-3">
  <div class="card">
      <div class="card-header bg-white text-dark fw-bold pt-3">
          Categories
      </div>
      <div class="card-body bg-dark list-group p-3">
          <a href="">Study Table</a>
          <a href="">Plastic Chair</a>
          <a href="">Stove</a>
          <a href="#">Wardrobes</a>
          <a href="">Office Chairs</a>
          <a href="">Study Table</a>
          <a href="">Wooden Chair</a>
          <a href="">Automatic Watch</a>
          <a href="">Wooden Chair</a>
          <a href="">Automatic Watch</a>
      </div>
  </div>
</aside>
