<footer class="text-warning bg-dark row">
  <div class="col-6">
    <p>Author: Hege Refsnes</p>
    <ul>
      <li><a href="mailto:hege@example.com">hege@example.com</a></li>
      <li><a href="mailto:hege@example.com">hege@example.com</a></li>
      <li><a href="mailto:hege@example.com">hege@example.com</a></li>
      <li><a href="mailto:hege@example.com">hege@example.com</a></li>
      <li><a href="mailto:hege@example.com">hege@example.com</a></li>
    </ul>
  </div>
  <div class="col-6">
    <p>Author: Hege Refsnes</p>
    <ul>
      <li><a href="mailto:hege@example.com">hege@example.com</a></li>
      <li><a href="mailto:hege@example.com">hege@example.com</a></li>
      <li><a href="mailto:hege@example.com">hege@example.com</a></li>
      <li><a href="mailto:hege@example.com">hege@example.com</a></li>
      <li><a href="mailto:hege@example.com">hege@example.com</a></li>
    </ul>
  </div>

  <p class="text-center">Copy Right</p>
</footer>
