<div class="col-4 mt-3">
  <select #categorySel class="form-select dropdown bg-secondary" [(ngModel)]="SelectedCategory">
    <option *ngFor="let catg of CategoryList" [value]="catg.ID">{{catg.name}}</option>
  </select>
</div>
<hr>


<h3 class="mt-2 text-info text-center">All The Product</h3>
<app-CartChild [categoryId] = "SelectedCategory" (shoppingCartItems)="addInCart($event)"></app-CartChild>
<!-- cart with subscribe -->
<!-- <app-CartChild [categoryId] = "SelectedCategory" ></app-CartChild> -->
<hr>


<h3 class="mt-2 text-success text-center">The Product in Cart</h3>
<table class="table text-white mt-3">
  <thead>
    <tr class="bg-dark">
      <th scope="col-2">#</th>
      <th scope="col-2">Name</th>
      <th scope="col-2">Price</th>
      <th scope="col-2">Quantity</th>
    </tr>
  </thead>
  <tbody #Cart>
    <tr *ngFor="let product of shoppingCartItem; let i = index"
       [ngStyle]="{'background-color':(product.SelectedQuantity == 0)? 'yellow': 'black'}">
    <!-- <tr *ngFor="let product of shoppingCartItem; let i = index"> -->
      <td>{{i+1}}</td>
      <td>{{product.ProductName}}</td>
      <td>{{product.Unit_price | currency : 'USD' : 'symbol'}}</td>
      <td>{{product.SelectedQuantity}}</td>
    </tr>
  </tbody>
</table>

<hr>
<h4 class="text-secondary">Total Price: {{totalPrice | currency : 'USD' : 'symbol'}}</h4>
<h3 class="text-success">Total Price With Tax 14%: {{totalPriceWithTax | currency : 'USD' : 'symbol'}}</h3>
<hr>
<button class="btn btn-dark" (click)="getProduct()">Confirm</button>
<hr>
