<div class="col-4 mt-3">
  <select class="form-select dropdown bg-secondary" [(ngModel)]="SelectedCategory">
    <option *ngFor="let catg of CategoryList" [value]="catg.ID">{{catg.name}}</option>
  </select>
</div>
<hr>


<h3 class="mt-2 text-info text-center">All The Product</h3>
<app-CartChild [categoryId] = "SelectedCategory"></app-CartChild>
<hr>


<h3 class="mt-2 text-success text-center">The Product in Cart</h3>
<!-- <table class="table table-hover table-dark text-white mt-3">
  <thead>
    <tr>
      <th scope="col-2">#</th>
      <th scope="col-2">Name</th>
      <th scope="col-2">Price</th>
      <th scope="col-2">Quantity</th>
      <th scope="col-2">Image</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of productsSelectedByCat; let i = index"
      [ngStyle]="{'background-color':(item.Quantity == 1)? 'yellow': ''}">
      <div *ngIf="item.Quantity == 0 then empty else product"></div>
      <ng-template #empty></ng-template>
      <ng-template #product>
        <th>{{i+1}}</th>
        <td>{{item?.Name}}</td>
        <td>{{item?.Price}}</td>
        <td>{{item?.Quantity}}</td>
        <td><img [src]="item?.Img" width="120" height="100" appProductCard></td>
      </ng-template>
    </tr>
  </tbody>
</table> -->
