<div class="container-fluid mt-5">
  <div class="about-section m-4">
    <h1 class="text-info">About Us</h1>
    <p>Some text about who we are and what we do.</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
  </div>

  <h2 class="text-center text-primary">Our Team</h2>
  <div class="row m-4">
    <div class="col-4">
      <div class="card">
        <div class="container mt-3">
          <h2>Jane Doe</h2>
          <p class="text-secondary">CEO & Founder</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>jane@example.com</p>
          <p><button class="btn btn-dark">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <div class="container mt-3">
          <h2>Mike Ross</h2>
          <p class="text-secondary">Art Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>mike@example.com</p>
          <p><button class="btn btn-dark">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <div class="container mt-3">
          <h2>John Doe</h2>
          <p class="text-secondary">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>john@example.com</p>
          <p><button class="btn btn-dark">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
</div>
