<table class="table table-hover table-dark text-white mt-3">
  <thead>
    <tr>
      <th scope="col-2">#</th>
      <th scope="col-2">Name</th>
      <th scope="col-2">Price</th>
      <th scope="col-2">Quantity</th>
      <th scope="col-2">Image</th>
      <th scope="col-2">Details</th>
      <th scope="col-2">QuantityInput</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of productsSelectedByCat; let i = index"
      [ngStyle]="{'background-color':(item.Quantity == 0)? 'yellow': ''}">
      <!-- <div *ngIf="item.Quantity == 0 then empty else product"></div>
      <ng-template #empty></ng-template>
      <ng-template #product> -->
        <th>{{i+1}}</th>
        <td>{{item.Name}}</td>
        <td>{{item.Price | currency : 'USD' : 'symbol'}}</td>
        <td>{{item.Quantity}}</td>
        <td><img [src]="item.ImgURL" width="120" height="100" appProductCard = "yellow"></td>
        <!-- <td>
          <a class="btn btn-info text-white mt-4" [routerLink]="['/Product',item.id]">Details</a>
        </td> -->
        <td>
          <button class="btn btn-info text-white mt-4" (click)="openProdect(item.id!)">Details</button>
        </td>
        <td>
          <button class="btn btn-success m-1 mt-0" (click)="increaseQuantity(item.id!, inputQuantity.value)">+</button>
          <input min="0" max="" type="number" class="form-control d-inline-block mt-4 w-50" #inputQuantity>
          <button class="btn btn-danger m-1 mt-0" (click)="decreaseQuantity(item.id!, inputQuantity.value)">-</button>
        </td>
        <!-- <td><button class="btn btn-secondary mt-4">Add To Cart</button></td> -->
      <!-- </ng-template> -->
    </tr>
  </tbody>
</table>
